{% extends 'admin-base3.html' %}

{% block content %}

<div class="container user-row">

  <div class="row ">
    <div class="table-responsive">
      <h6 class="table-title">TEACHER'S TO APPROVE</h6>
      <div class="panel panel-primary">

      <table class="table table-hover table-striped table-bordered" id="dev-table">

        <thead class="table-h">

          <tr>
            <th>Name</th>
            <th>Department</th>
            <th>Contact</th>
            <th>Salary</th>
            <th>Joining Date</th>
            <th>Actions</th>

          </tr>
        </thead>
       {% for t in teachers %}
        <tr>
          <td> {{t.get_name}}</td>
           <td>{{t.department}}</td>
          <td>{{t.mobile}}</td>
          <td>{{t.salary}}</td>
          <td>{{t.joindate}}</td>
          <td><a class="btn btn-success btn-xs" href="{% url 'app:teacher-approve' t.id  %}"><i class="fa-solid fa-thumbs-up"></i></a>
          <a class="btn btn-danger btn-xs" href="{% url 'app:admin-teacher-cancel' t.id  %}"><i class="fa-solid fa-thumbs-down"></i></a></td>
        {% empty %}
          <td class="text-center" colspan="6">There are 0 teachers to approve</td>
        </tr>


        {% endfor %}
      </table>
    </div>
    </div>



  </div>
</div>

    {% endblock content %}