
{% extends 'admin-base3.html' %}

{% block content %}



<div class="container">

  <div class="row user-row">

    <div class="table-responsive">
      <h6 class="table-title">TEACHER'S SALARY</h6>
      <div class="panel panel-primary">




      <table class="table table-hover table-striped table-bordered" id="dev-table">

        <thead class="table-h">

          <tr>
            <th>Teacher's Name</th>

            <th>Salary</th>

          </tr>
        </thead>
        {% for t in teachers %}

        <tr>
          <td> {{t.get_name}}</td>
          <td>${{t.salary}}</td>
          {% empty %}
          <td rowspan="5">There are no faculties</td>
        </tr>


        {% endfor %}
      </table>
    </div>
    </div>


  </div>
</div>
    {% endblock content %}