
{% extends 'admin-base2.html' %}

{% block content %}
{% load widget_tweaks %}



<div class="container teacher-card">
  <form method="post">
  {% csrf_token %}
  <div class="container register-form">
    <div class="form">
      <div class="note">
        <p class="form-name">Hire New Teacher</p>
      </div>

      <div class="form-content">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              {% render_field form1.first_name class="form-control" placeholder="First Name" %}
            </div>
            <div class="form-group">
              {% render_field form1.last_name class="form-control" placeholder="Last Name" %}
            </div>
            <div class="form-group">
              {% render_field form1.username class="form-control" placeholder="Username" %}
            </div>

          </div>
          <div class="col-md-6">
            <div class="form-group">
              {% render_field form2.mobile class="form-control" placeholder="Contact" %}
            </div>
            <div class="form-group">
              {% render_field form1.password class="form-control" type="password" placeholder="Password" %}
            </div>
            <div class="form-group">
              {% render_field form2.salary class="form-control" placeholder="Salary" %}
            </div>
          </div>
        </div>
        <button type="submit" class="btn-Submit">Hire</button>
      </div>
    </div>
  </div>
  </form>
</div>

{% endblock content %}