
{% extends 'admin-base3.html' %}

{% block content %}


<div class="container user-row">

  <div class="row ">
    <div class="table-responsive">
      <h6 class="table-title">STUDENT'S ATTENDANCE</h6>
      <div class="panel panel-primary">


      <table class="table table-hover table-striped table-bordered" id="dev-table">
        <thead class="table-h">

          <tr>
            <th>Course</th>
            <th>Take Attendance</th>
            <th>View Attendance</th>
          </tr>
        </thead>

        <tr>
          <td> Bsc.Physics</td>
          <td><a class="btn btn-primary btn-xs" href="{% url 'app:admin-attendance-take' 'Bsc.Physics'  %}"><i class="fa-solid fa-square-plus"></i></a></td>
          <td><a class="btn btn-success btn-xs" href="{% url 'app:admin-attendance-view' 'Bsc.Physics'  %}"><i class="fa-solid fa-eye"></i></a></td>
        </tr>

          <tr>
          <td> Bsc.Chemistry</td>
          <td><a class="btn btn-primary btn-xs" href="{% url 'app:admin-attendance-take' 'Bsc.Chemistry'  %}"><i class="fa-solid fa-square-plus"></i></a></td>
          <td><a class="btn btn-success btn-xs" href="{% url 'app:admin-attendance-view' 'Bsc.Chemistry'  %}"><i class="fa-solid fa-eye"></i></a></td>
        </tr>
          <tr>
          <td> Bsc.Botany</td>
          <td><a class="btn btn-primary btn-xs" href="{% url 'app:admin-attendance-take' 'Bsc.Botany'  %}"><i class="fa-solid fa-square-plus"></i></a></td>
          <td><a class="btn btn-success btn-xs" href="{% url 'app:admin-attendance-view' 'Bsc.Botany '  %}"><i class="fa-solid fa-eye"></i></a></td>
        </tr>
          <tr>
          <td> Bsc.Zoology</td>
          <td><a class="btn btn-primary btn-xs" href="{% url 'app:admin-attendance-take' 'Bsc.Zoology'  %}"><i class="fa-solid fa-square-plus"></i></a></td>
          <td><a class="btn btn-success btn-xs" href="{% url 'app:admin-attendance-view' 'Bsc.Zoology'  %}"><i class="fa-solid fa-eye"></i></a></td>
        </tr>
          <tr>
          <td> Bsc.Mathematics</td>
          <td><a class="btn btn-primary btn-xs" href="{% url 'app:admin-attendance-take' 'Bsc.Mathmatics'  %}"><i class="fa-solid fa-square-plus"></i></a></td>
          <td><a class="btn btn-success btn-xs" href="{% url 'app:admin-attendance-view' 'Bsc.Mathmatics'  %}"><i class="fa-solid fa-eye"></i></a></td>
        </tr>
          <tr>
          <td> Bsc.Electronics</td>
          <td><a class="btn btn-primary btn-xs" href="{% url 'app:admin-attendance-take' 'Bsc.Electronics'  %}"><i class="fa-solid fa-square-plus"></i></a></td>
          <td><a class="btn btn-success btn-xs" href="{% url 'app:admin-attendance-view' 'Bsc.Electronics'  %}"><i class="fa-solid fa-eye"></i></a></td>
        </tr>



      </table>
    </div>
    </div>
  </div>
</div>

{% endblock content %}