{% extends 'admin-base2.html' %}

{% block content %}
{% load widget_tweaks %}

<div class="container student-card">
    <form method="post">
  {% csrf_token %}
  <div class="container register-form">
    <div class="form">
      <div class="note">
        <p class="form-name">Announce Something</p>
      </div>

      <div class="form-content">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              {% render_field form.message class="form-control" placeholder="Write Your Message Here" %}
            </div>
            <div class="form-group">
              {% render_field form.by type="hidden"  class="form-control" placeholder="Your Name" %}
            </div>
          </div>

        </div>
        <button type="submit" class="btn-Submit">Submit</button>
      </div>
    </div>
  </div>

</form>
</div>

{% endblock content %}