<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4">Student Login Panel</h1>
  <p class="lead">Welcome to School Management System.</p>
  <hr class="my-4">
  <p>Please select any to contiue...</p>
  <p class="lead">
    <a class="btn btn-danger btn-lg" href="{% url 'app:student-signup' %}" role="button">New Admission</a>
    <a class="btn btn-success btn-lg" href="student-login" role="button">Login</a>
  </p>
</div>
</body>
</html>