

{% extends 'student-base1.html' %}

{% block content %}
{% load widget_tweaks %}


<form method="post">
  {% csrf_token %}
  <div class="container student-card">
    <div class="form">
      <div class="note">
        <p>PLEASE ENTER DATE FOR ATTENDANCE</p>
      </div>

      <div class="form-content">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              {% render_field form.date class="form-control" placeholder="Enter date mm/dd/yyyy" %}
            </div>

          </div>

        </div>
        <button type="submit" class="btn-Submit">Submit</button>
      </div>
    </div>
  </div>

</form>



{% endblock content %}