{% extends 'teacher-base1.html' %}

{% block content %}



<div class="container user-row">

  <div class="row ">
    <div class="table-responsive">
      <h6 class="table-title">ALL STUDENT'S</h6>
      <div class="panel panel-primary">
      <table class="table table-hover table-striped table-bordered" id="dev-table">

        <thead class="table-h">

          <tr class="text-center">
            <th>Name</th>
            <th>Class</th>
            <th>Contact</th>
          </tr>
        </thead>


        {% for s in students %}

        <tr class="text-center">
          <td> {{s.get_name}}</td>
          <td>{{s.cl}}</td>
          <td>{{s.mobile}}</td>

          {% empty %}
          <td class="text-center" colspan="3">Admission will start soon</td>

        </tr>


        {% endfor %}
      </table>
      </div>
    </div>
  </div>
</div>

{% endblock content %}