{% extends 'teacher-base1.html' %}

{% block content %}
{% load widget_tweaks %}


<form class=" form-responsive" method="post">
  <div class="container">

    <div class="row user-row">

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h6 class="table-title">ATTENDANCE</h6>

        </div>

        <table class="table table-hover table-striped table-bordered" id="dev-table">
          <thead class="table-h">

            <tr>
              <th>Student</th>
              <th>Present/Absent</th>
            </tr>
          </thead>


          {% csrf_token %}
          {%for student in students%}
          <tr>
            <td>{{student.get_name}}</td>
            <td>{{aform.present_status}}</td>
          </tr>
          {%endfor%}



        </table>
        {% render_field aform.date class="form-control" placeholder="Enter Date mm/dd/yyyy" %}
        <input type="submit" style="margin-left: 50px;

    margin-top: 20px;
    margin-bottom: 20px;   " name="submit" class="btn btn-primary" value="Submit Attendance">
      </div>


    </div>
  </div>
</form>

{% endblock content %}